---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Retiro23">

  <section class="flex flex-col">
    <h1 class="text-center text-white m-8 font-black text-4xl">PROXIMAMENTE...</h1>
  </section>
</Layout>