---
import Layout from "@/layouts/Layout.astro"
import Retiro23 from '@/components/Retiro23'
---

<Layout title="Retiro23">

  <section class="flex flex-col">
    <h1 class="text-center text-white m-8 font-black text-4xl">RETIRO '23</h1>
    <Retiro23 client:visible />

  </section>
</Layout>