---
import { Image } from 'astro:assets'
import logo from '../assets/Logo.svg'
import FlyoutMenu from '../components/FlyoutMenu'
//export const prerender = false
---

<header class="py-8 px-4 mx-auto max-w-6xl lg:py-16 lg:px-6">
  <div class="w-full bg-white flex justify-center sm:justify-between content-center self-center rounded-md shadow-sm ">
    <a href="/">
      <Image 
        src={logo}
        loading="eager"
        alt="Logo Areopago"
        class="p-2 my-1 mx-4 h-14 hidden sm:block"
      />
    </a>
    
    <FlyoutMenu client:visible />
  
    <nav class="hidden sm:block flex rounded-md justify-center self-center p-2 mx-4">
      <a
        href="/"
        class=" px-4 py-2 text-lg text-center font-semibold text-gray-900 rounded-lg hover:bg-gray-100 hover:text-areo-lightblue focus:z-10 focus:ring-2 focus:ring-areo-lightblue focus:text-areo-lightblue"
        >
          Inicio
      </a>
      <a
        href="/camp23"
        class=" px-4 py-2 text-lg text-center font-semibold text-gray-900 rounded-lg hover:bg-gray-100 hover:text-areo-lightblue focus:z-10 focus:ring-2 focus:ring-areo-lightblue focus:text-areo-lightblue"
        >
          Retiro23
      </a>
    </nav>
  </div>
</header>